.flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.logo {
  border-radius: 16px;
  padding: 11px;
  background-color: #193a49;
  margin: auto;
  width: 41px;
}
.date-wraper {
  display: flex;
}

.counter {
  width: 150px;
  display: flex;
  align-items: center;
}
